@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f7f8fd;
    --foreground: #28292b;
    --code-bg: #eaf4f7;
    --code-text: #28292b;
}

.dark {
    --background: #545d7b;
    --foreground: #f7f8fd;
    --code-bg: #3e4355;
    --code-text: #f7f8fd;
}

@layer base {
    body {
        @apply bg-background text-foreground text-base;
    }
    h1 {
        @apply font-bold text-xl;
    }
    h2 {
        @apply font-bold text-lg;
    }
    h3 {
        @apply font-bold text-base;
    }
    p {
        @apply mx-0 my-8r;
    }
    ul {
        @apply pl-[1.875rem];
    }
    li {
        @apply list-none ml-[-1.375rem];
    }
    table {
        @apply border-collapse border-solid border-[0.5px] border-[dimgray];
    }
    th {
        @apply border-collapse border-solid border-[0.5px] border-[dimgray] font-bold px-5 py-5;
    }
    td {
        @apply border-collapse border-solid border-[0.5px] border-[dimgray] px-5 py-5;
    }
    a {
        @apply text-link hover:text-link;
    }
    pre {
        @apply bg-code-bg text-code px-[1.175rem] py-[12px] max-h-[250px] rounded-md overflow-x-auto overscroll-y-contain;
    }
    code {
        @apply bg-code-bg text-code px-[0.175rem] py-[0.31rem] rounded-md [pre_&]:p-0;
    }
}

@layer components {
    .flex-center {
        @apply flex justify-center items-center;
    }
}
